@model HotelsDTO

<form asp-action="Delete">
    <br />
    <div class="container border p-3">
        <h1 class="text-danger">Delete Hotel</h1>
        <hr />

        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;">Hotel Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control" value="@Model.Name" />
            </div>

            <div class="col-2">
                <label asp-for="Location" class="control-label pt-2" style="font-size:20px;">Location</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Location" disabled class="form-control" value="@Model.Location" />
            </div>

            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size:20px;">Image URL</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" disabled class="form-control" value="@Model.ImageUrl" />
            </div>

            <div class="col-2">
                <label asp-for="NumberOfRooms" class="control-label pt-2" style="font-size:20px;">Rooms</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="NumberOfRooms" disabled class="form-control" value="@Model.NumberOfRooms" />
            </div>

            <div class="col-2">
                <label asp-for="Price" class="control-label pt-2" style="font-size:20px;">Price</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" disabled class="form-control" value="@Model.Price" />
            </div>

            <div class="col-2">
                <label asp-for="ContactNumber" class="control-label pt-2" style="font-size:20px;">Contact</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ContactNumber" disabled class="form-control" value="@Model.ContactNumber" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="Hotel" class="btn btn-primary form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
